/*

#121212 dark grey (recommended by meterial design)


#212121 grey 900
#F5F5F5 grey 100
#DEDEDE grey FF - 21

#0B0622 grey purple 900 (K = 87)
#512DA8 Purple deep 700
#E64A19 Orange deep 700
#00796B Tell 700 (blue green)
#FBC02D Yellow 700 
#E64A19 Oranfge deep 700



*/

@import 'include_color_use_custom_var.css';

/* Perso */
body {
  --col-bck:   #DEDEDE;
  --col-bck2:  #CCCCCC;
  --col-font:  #212121;

  --col-h1:    #512DA8;
  --col-h2:    #E64A19;
  --col-h3:    #00796B;

  --col-link:  #FBC02D;
  --col-link-visited: #E64A19;
  --col-link-hover:   #E64A19;

  --col-code-fg:  #0B0622;
}

