body {
  background-color: var(--col-bck);
  color: var(--col-font);
}

h1 { color: var(--col-h1); }
h2 { color: var(--col-h2); }
h4,
h5,
h6,
h3 { color: var(--col-h3); }

a { color: var(--col-link); }
a:visited { color: var(--col-link-visited); }
a:hover { color: var(--col-link-hover); }

code {
  color: var(--col-code-fg);
}
