/*
Flex between 1 and 3 columns
*/


@import 'include_layout.css';

/*
.h3-section:nth-of-type(n) { order: 1; }
@media (min-width: calc(400 * 2px)) {
  .h3-section:nth-of-type(2n) { order: 1; }
  .h3-section:nth-of-type(2n+1) { order: 2; }
}
@media (min-width: calc(400 * 3px)) {
  .h3-section:nth-of-type(3n) { order: 1; }
  .h3-section:nth-of-type(3n+1) { order: 2; }
  .h3-section:nth-of-type(3n+2) { order: 3; }
}
*/

.parent {
  display: flex;

  align-items: flex-start;
  flex-direction: row; 
  flex-wrap: wrap; 
  width: 100%;
}

.h3-section {
  width: 33.33%;
  flex: 1 1 auto;
  align-self: flex-start;

  display: flex;
  flex-flow: column wrap;
}

/* OLD
  flex: 1;
  flex: 0 1 auto;

  height: 3000px;
  flex-flow: column wrap;
  flex-flow: row wrap;


  align-content: flex-start or space-between


.container::before,
.container::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}

*/
