/*
GRID betwenn 1 and 3
*/

@import 'include_layout.css';

#TOC ul {
  --repeat: auto-fit;
}
@media (min-width: calc(400 * 2px)) {
  #TOC ul {
    --repeat: 2;
  }
}
@media (min-width: calc(400 * 3px)) {
  #TOC ul {
    --repeat: 3;
  }
}

#TOC > ul {
  display: grid;

  grid-gap: 0;
  grid-auto-rows auto;
  grid-auto-flow: row dense;

  grid-template-columns: repeat(var(--repeat), minmax(400px, 1fr)); 

  width: 90vw;
}


/* Counter masonry.js auto margin and then centering */
#TOC li {
  margin: 0 10px 0 10px;
}
