/* This works
body {
  column-count: 3;
}
*/

h2 {
  .column {
    column-count: 2;
  }
}

h3 {
  background-color: dodgerblue;
  padding: 1rem;
  height: 4rem;
}

h2 {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
